---
layout: base
title: Home
---

<section class="jumbotron text-center">
    <div class="container">
        <h1> Elecciones del año 2020 en Latinoamérica</h1>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <ul class="list-group list-group-flush">
            {% for election in site.elections %}
            <li class="list-group-item">
                <h2><a href="{{ election.url }}">{{ election.title }}</a></h2>
                {{ election.country }} | {{ election.type }} | {{ election.date_election | date: "%d/%m/%Y" }}
                <p>{{ election.excerpt | markdownify | remove: '<p>' | remove: '</p>' }} <a href="{{ election.url }}">&laquo; Ver más &raquo;</a></p>
            </li>
            {% endfor %}    
        </ul>
    </div>
</div>