<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    {% include header.html %}
    <main id="content" role="main">
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>